{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Détails de {{game.title}}{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% if( app.user ) %}
        <script>
            const addbtn = document.querySelector("#addbtn")
            const addComment = document.querySelector("#addComment")
            const commentForm = document.querySelector("#commentForm")
            const rangeInput = document.querySelector('#comment_rate')
            const numberInput = document.querySelector('#ratevalue')

            function handleInputChange(e) {
                let target = e.target
                const min = target.min
                const max = target.max
                const val = target.value
            }

            rangeInput.addEventListener('input', handleInputChange)
            numberInput.addEventListener('input', handleInputChange)

            function modifyBtn(btn){
                btn.innerHTML = "Dans ma collection"
            }

            addbtn.addEventListener("click", (event)=>{
                $.ajax({
                    url: "/addown/{{game.id}}",
                    method: "POST",
                    dataType: "json",
                    success: modifyBtn(event.target),
                    error: function(xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")")
                        console.table(err)
                    }
                })
            })

            addComment.addEventListener("click", ()=>{
                commentForm.classList.toggle("active")
                if( addComment.innerText == "Ajouter une évaluation" ){
                    addComment.innerText = "Annuler"
                }else{
                    addComment.innerText = "Ajouter une évaluation"
                }
            })
        </script>
    {% endif %}
{% endblock %}
{% block body %}
<section>
    <div class="title banner">
        <h2>{{game.title}} <span>({{game.yearOut}})</span></h2>
        
    </div>
    <div class="gameDetail">
        <div class="miniature">
            <img src={{game.image}} alt="photo de {{game.title}}">
        </div>
        <div>
            <div class="gameInfos">
                <div>
                    <p>Catégorie{% if game.categories is iterable %}s{% endif %} : 
                        {% for cat in game.categories %}
                            <span class="category">
                                {{cat}}
                            </span>
                        {% endfor %}
                        </p>
                    <p>Pour {{game.playerMin}} à {{game.playerMax}} joueurs</p>
                    <p>Durée : {{game.duration}} minutes environ</p>
                </div>
                <div>
                    <div class="text center">
                        <p>Moyenne des utilisateurs<p>
                        <p>
                        {% if game.comments|filter(com => com.rate != NULL) is not empty %}
                            {% set sumrate = 0 %}
                            {% for comment in game.comments|filter(com => com.rate != NULL) %}
                                {% set sumrate = sumrate + comment.rate %}
                            {% endfor %}
                            {% set average = sumrate / game.comments|filter(com => com.rate != NULL)|length %}
                            <strong>{{average|round(1, "common")}}</strong> /10
                        {% else %}
                            Pas de note
                        {% endif %}
                        </p>
                    </div>
                    {% if app.user %}
                        <button class="btn" id="addbtn">
                            {% if game.inCollection(app.user) %}
                                Dans ma collection
                            {% else %}
                                Ajouter à ma collection
                            {% endif %}
                        </button>
                    {% endif %}
                </div>
            </div>
            <div>
                <h4>Description du jeu</h4>
                <p>{{game.description|raw}}</p>
            </div>
        </div>
    </div>
</section>
<section>
    <h3 class="title banner">Contenu du jeu :</h3>
    <div class="gameContent">
    {% if game.gameContents|filter(c => c.componentType.type == "livret") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "livret") %}   
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {{content.component.name}}
                    {{content.name}}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "sac") is not empty %}
        <div class="contentList">
            <ul>
                {% for content in game.gameContents|filter(c => c.componentType.type == "sac") %}   
                    <li>
                        {{content.quantity}}
                        {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                        {{content.component.name}}
                        {{content.name}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "plateau") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "plateau") %}   
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}x{% endif %}
                    {{content.component.name}}
                    {{content.name}}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "pièce") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "pièce") %}   
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {{content.component.name}}
                    {{content.name}}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "dé") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "dé") %}   
                <li class="piece">
                    <span class="imgHover">
                        <img src="{{asset(content.picture)}}" alt={{content.componentType}}>
                    </span>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {{content.component.name}}
                    {{content.name}}
                    ({{content.color}})
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "tuile") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "tuile") %}   
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {{content.component.name}}
                    {{content.name}}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "carte") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "carte") %}   
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {{content.name}}
                    {% if content.component.name is defined %}
                        ({{content.component.name}})
                    {% endif %}
                    ({{content.color}})
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "figurine") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "figurine") %}                 
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {{content.component.name}}
                    {{content.name}}
                    ({{content.color}})
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if game.gameContents|filter(c => c.componentType.type == "jeton") is not empty %}
    <div class="contentList">
        <ul>
            {% for content in game.gameContents|filter(c => c.componentType.type == "jeton") %}                 
                <li>
                    {{content.quantity}}
                    {{content.componentType}}{% if content.quantity > 1 %}s{% endif %}
                    {% if content.component.name is defined %}
                        {{content.component.name}}
                    {% endif %}
                    {{content.name}}
                    ({{content.color}})
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>

<div class="gamePeople">
    <div class="card">
        <p>Auteur</p>
        {% if game.author != NULL %}
            <p>{{game.author}}</p>
        {% else %}
            <p>Inconnu</p>
        {% endif %}
    </div>
    <div class="card">
        <p>Illustrateur</p>
        {% if game.illustrator != NULL %}
            <p>{{game.illustrator}}</p>
        {% else %}
            <p>Inconnu</p>
        {% endif %}
    </div>
    <div class="card">
        <p>Editeur</p>
        {% if game.editor != NULL %}
            <p>{{game.editor}}</p>
        {% else %}
            <p>Inconnu</p>
        {% endif %}
    </div>
    <div class="card">
        <p>Distributeur</p>
        {% if game.distributor != NULL %}
            <p>{{game.distributor}}</p>
        {% else %}
            <p>Inconnu</p>
        {% endif %}
    </div>
</div>
<section class="comments">
    <p>Commentaires et notes sur le jeu</p>
    <div class="comment">
        {% if game.comments is not empty %}
            {% for comment in game.comments|sort((a,b) => b.date <=> a.date) %}
                <div class="commentInfos">
                    <div>
                        <a href="/user/details/{{comment.user.id}}">{{comment.user}} </a>
                        <p> Note : <strong>{{comment.rate}}</strong>/10</p>
                    </div>
                    <p>le {{comment.date|date("d/m/Y \à H:i")}}</p>
                </div>
                <p class="commentText">{{comment.feedback}}</p>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas encore de commentaires pour ce jeu</p>
        {% endif %}
    </div>
    {% if app.user %}
        <div class="form center">
            <button class="btn" id="addComment">Ajouter une évaluation</button>
        </div>
        <div id="commentForm">
            {{ form_start(commentForm) }}
            <div class="form contact">
                <div class="form align">

                    {{form_label(commentForm.rate, "Note ")}}
                    <div class="range">
                    {{form_widget(commentForm.rate, [])}}
                    <input type="number" min="0" max="10" id="ratevalue" oninput="comment_rate.value=value" value="5"></input>
                    </div>

                </div>
                {{form_label(commentForm.feedback, "Commentaire")}}
                <div class="form center">
                    {{form_widget(commentForm.feedback, [])}}
                    <button type="submit" class="btn contact">Envoyer</button>
                </div>
            </div>
            {{form_widget(commentForm.date, {"value" : "now"|date("Y-m-d\\TH:i:s") } ) }}
            {{ form_rest(commentForm) }}
            {{ form_end(commentForm) }}
        </div>
    {% endif %}
</section>

{% endblock %}