{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Tous les jeux{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
    let cards = document.querySelectorAll(".itemCard")
    for( let card of cards ){
        card.addEventListener("click", ()=>{
            let link = card.dataset.link
            window.location.href = link
        })
    }
    </script>
{% endblock %}

{% block body %}
    <section class="gallery">
        {% for game in games %}
        <div class="itemCard" data-link="/game/details/{{game.id}}">
            <figure>
                <img src={{game.image}} alt={{game.title}}>
            </figure>
             <p class="title banner">{{game.title}}</p>
        </div>
        {% endfor %}
    </section>
{% endblock %}