{% extends 'base.html.twig' %}

{% block javascripts %}
 {{parent()}}
    <script>

    let type = document.querySelector("#type")

    let gameName = document.querySelector("#gameName")
    let category = document.querySelector("#category")
    let author = document.querySelector("#author")
    let players = document.querySelector("#players")
    let searchGameForm = document.querySelector("#searchGame")

    searchGameForm.addEventListener("submit", (e)=>{
        e.preventDefault()
        if( gameName.value == "" &&
            category.value == 0 &&
            author.value == 0 &&
            players.value == 0){
        }else{
            searchGameForm.submit()
        }
    })
    let selects = document.querySelectorAll("select")
    $(function() {
        $('#category, #author, #players, #gameName').on('change', function() {
            let gameName = $("#gameName").val();
            let category = $("#category").val();
            let author = $('#author').val();
            let players = $('#players').val();
            let dataSet = {
                game: gameName,
                category: category,
                author: author,
                players: players
            }
            let games = sendData("game", dataSet)
        })
    })
    function sendData(name, values){
        $.ajax({
            url: "/search",
            method: "POST",
            data: {"name": name, "values": values },
            dataType: "json",
            success: function(resp){console.log(resp)},
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")")
                console.log(err.Message)
            }
        })
    }

    </script>
{% endblock %}

{% block title %}{{parent()}} - Recherche{% endblock %}

{% block body %}

<div class="multiform">
    
    <form action="/searchGame" method="POST" class="form contact" id="searchGame">
        <h3 class="banner">Rechercher un jeu</h3>
        <div class="form align w5050">
            <label for="gameName">Nom</label>
            <input type="text" name="gameName" id="gameName">
            <label for="category">Catégorie</label>
            <select name="category" id="category">
                <option disabled selected hidden>--- Choisir ---</option>
                {% for cat in categories %}
                    <option value="{{cat.id}}">{{cat.name|capitalize}}</option>
                {% endfor %}
            </select>
            <label for="author">Auteur</label>
            <select name="author" id="author">
                <option disabled selected hidden>--- Choisir ---</option>
                {% for author in authors %}
                    <option value="{{author.id}}">{{author}}</option>
                {% endfor %}
            </select>
            <label for="players">Nombre de joueurs</label>
            <input type="number" min="0" max="16" name="players" id="players"></input>
            
        </div>
        <div class="form center">
            <input class="btn main" type="submit" value="Rechercher">
        </div>
    </form>

    <form action="/searchPiece" method="POST" class="form contact">
        <h3 class="banner">Rechercher l'origine d'une pièce</h3>
        <div class="form align w5050">
            <label class="required" for="type">Type de pièce</label>
            <select name="type" id="type" required="required">
                <option disabled selected hidden>--- Choisir ---</option>
                {% for type in types %}
                    <option value="{{type.id}}">{{type.type|capitalize}}</option>
                {% endfor %}
            </select>
            <label for="value">Valeur</label>
            <select name="value" id="value" >
                <option disabled selected hidden>--- Choisir ---</option>
                {% for value in values|sort((a,b) => a.name <=> b.name) %} 
                    <option value="{{value.id}}">{{value.name|capitalize}}</option>
                {% endfor %}
            </select>
            <label for="material">Matière</label>
            <select name="material" id="material">
                <option disabled selected hidden>--- Choisir ---</option>
                <option value="bois">Bois</option>
                <option value="carton">Carton</option>
                <option value="papier">Papier</option>
                <option value="plastique">Plastique</option>
            </select>
            <label for="color">Couleur</label>
            <select name="color" id="color">
                <option disabled selected hidden>--- Choisir ---</option>
                <option value="blanc">Blanc</option>
                <option value="bleu">Bleu</option>
                <option value="gris">Gris</option>
                <option value="jaune">Jaune</option>
                <option value="marron">Marron</option>
                <option value="noir">Noir</option>
                <option value="orange">Orange</option>
                <option value="rouge">Rouge</option>
                <option value="vert">Vert</option>
                <option value="violet">Violet</option>
            </select>
        </div>
        <div class="form center">
            <input class="btn main" type="submit" value="Rechercher">
        </div>
    </form>
</div>
<template class="itemCard" data-link="/game/details/">
    <figure>
        <img src= alt=>
        <figcaption>
            <p class="title"></p>
        </figcaption>
    </figure>
</template>

{% endblock %}