<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PieceFinder{% endblock %}</title>
        <link rel="icon" href="{{asset("image/logoPF.png")}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href={{asset("css/style.css")}}>
        {% endblock %}
    </head>
    <div class="extWrapper">
        <div class="intWrapper">
            {% block header %}
                <header>
                    <div class="logo noun">
                        <a href="/" class="PFlogo">
                            <img src="{{asset("image/logoPF.png")}}" alt="logo">
                        </a>
                        <a href="/" class="PFnoun"><span class="desktop">PieceFinder</span><i class="fa-solid fa-home mobile"></i></a> 
                    </div>
                    <div class="headerMenu">
                        <nav class="headerMenu">
                            <a href="/everyGames"><span class="desktop">Jeux</span><i class="fa-solid fa-chess-rook mobile"></i></a>
                            <a href="/search"><span class="desktop">Rechercher</span><i class="mobile fa-solid fa-magnifying-glass"></i></a>
                            {% if app.user %}
                                {% if "ROLE_ADMIN" in app.user.roles %}
                                    <a href="/admin"><span class="desktop">Admin</span><i class="fa-solid fa-cog mobile"></i></a>
                                {% endif %}
                                <a href="/user/details/{{app.user.id}}"><span class="desktop">Profil</span><i class="mobile fa-solid fa-id-card-clip"></i></a>
                                <a href="/app_logout"><span class="desktop">Déconnexion</span><i class="mobile fa-solid fa-right-from-bracket"></i></a>
                            {% else %}
                                <a href="/app_register"><span class="desktop">S'inscrire</span><i class="mobile fa-solid fa-address-card"></i></a>
                                <a href="/app_login"><span class="desktop">Connexion</span><i class="mobile fa-solid fa-right-to-bracket"></i></a>
                            {% endif %}
                        </nav>
                    </div>
                </header>
            {% endblock %}
            <body>
                <div class="bodyWrapper">
                    {% block body %}

                    {% endblock %}
                </div>
                {% block javascripts %}
                    {{ encore_entry_script_tags('app') }}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                {% endblock %}
            </body>
            <footer>
                <div>
                    <p>&copy; 2022 PieceFinder V1.0</p>
                </div>
                <div class="infoSite">
                    <a href="/CGU">CGU</a>
                    <a href="/contact">Contact</a>
                </div>
            </footer>
        </div>
    </div>
</html>
